/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Lato:wght@300&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');


/* asterisk wildcard */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*general styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'lato', sans-serif;

}

/* header */
header {
    background-color: coral;
}

h1 {
    font-family: 'Oswald';
}

/* main */
main {
    background-color: lightblue;
    /* take up extra space */
    flex: 1 0 auto;
}

/* footer */
footer {
    background-color: yellow;
}